<h1><%= current_user.first_name %>'s order Lists</h1>


<table>
	<tr>
		<th> Shoppingcart ID </th>
		<th> Total Price  </th>
    <th> Active </th>
    <th> Date </th>


	</tr>
    <% @shoppingcarts.each do |shoppngcart| %>
		<tr>
			<td> <%= shoppingcart.id %> </td>
			<td> <%= shoppingcart.total %> </td>
      <td> <%= shoppingcart.order_active %> </td>
      <td> <%= shoppingcart.created_at %> </td>
      <!-- <td> <%= link_to "#{user.first_name}'s Details", user_path(user) %> </td>
			<td> <%= link_to "#{user.first_name}'s Items List", user_items_path(user) %> </td> -->
      <% end %>
		</tr>
</table>
