<h1><%= @user.first_name %>'s items list</h1>

<table>
	<tr>
    <th> Item ID </th>
		<th> Item Name </th>
		<th> Stock Quantity </th>
		<th> Item Price </th>
		<th> Active? </th>
		<th> Posted Time </th>
		<% if current_user.id == @user.id %>
			<th> Edit details? </th>
		<% else %>
			<th> Interested? </th>
		<% end %>
	</tr>
  <% @user.items.each do |item| %>
		<tr>
      <td> <%= item.id %> </td>
			<td> <%= item.item_name %> </td>
			<td> <%= item.stock_quantity %> </td>
			<td> <%= item.item_price %> </td>
			<td> <%= item.item_active %> </td>
      <td> <%= time_ago_in_words (item.created_at) %> ago.</td>
				<% if current_user == @user %>
				<td> <%= link_to "Edit Items", edit_user_item_path(:current_user, item.id)%></td>
				<% else %>
				<td> <%= link_to "Add to cart", new_shoppingcart_path(:item_id => item.id) %> </td>
				<% end %>
			<% end %>

		</tr>
</table>
<%= link_to "Back to #{@user.first_name}'s profile", user_path(@user) %>
