<h1>Upload New Item!</h1>

<%= form_for ([@item.user, @item]) do |f| %>
    <div>
      User Name = <%= @item.user.first_name %>
    </div>

    <div>
        <%= f.label :item_name %>
        <%= f.text_field :item_name %>
    </div>

    <div>
        <%= f.label :stock_quantity %>
        <%= f.number_field :stock_quantity %>
    </div>

    <div>
        <%= f.label :item_price %>
        <%= f.number_field :item_price %>
    </div>

    <div>
      <%= f.label :active? %>
      <%= f.check_box :item_active %>
  </div>

    <%= f.submit "Submit!" %>

<% end %>
